dash==2.14.1
dash_bootstrap_components==1.4.0
dash_cytoscape==0.2.0
dash_leaflet==1.0.11
Fiona==1.8.22
geopandas==0.10.2
matplotlib==3.5.0
numpy==1.22.3
pandas==1.4.0
plotly==5.11.0
python_dateutil==2.8.2
reportlab==4.0.7
setuptools==65.5.1
Shapely==1.8.4
gunicorn
dash-tools
