@media only screen and (orientation: portrait) {
    .sub1 {
        margin-left: 1vw;
        width: 45vw; 
        height: 12vh;
    }
    .sub2 {
        margin-left: 1vw;
        width: 30vw; 
        height: 12vh;
    }
    .sub3{
        width: 15vw;
        height: 15vh;
        margin-left:1vw;
    }
}

@media only screen and (orientation: landscape) {
    .sub1{
        margin-left: 10vw;
        width: 40vw; 
        height: 50vh;
    }
    .sub2 {
        margin-left: 5vw;
        width: 35vw; 
        height: 50vh;
    }
    .sub3{
        width: 15vw;
        height: 50vh;
        margin-left:1vw;
    }
}